<div class="CountryInfo">
  <h2 class="nameOfCountry">{{name}}({{nativeName}})</h2>
  <ul>
  <li class="areaCount">Area:{{area}}km</li>
  <li class="capital">Capital:{{capital}}</li>
 <li class="population">Population:{{population}}</li>
 <li class="lang">Region:{{region}}</li>
  <li><img src="{{flag}}" alt="{{demonym}}" class="flag" /></li>
</ul>
</div>
  